{
    "root": true,
    "env": {
        "node": true
    },
    "globals": {
        "_": false,
        "api": false,
        "testApi": false,
        "mockApi": false
    },
    "extends": [
        "plugin:vue/essential",
        "eslint:recommended"
    ],
    "rules": {},
    "parserOptions": {
        "parser": "babel-eslint"
    }
}