{
  "root": true,
  "env": {
    "node": true
  },
  "globals": {
    "_": false,
    "api": "readonly"
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "vue/brace-style": "error",
    "vue/camelcase": "warning",
    "vue/comma-dangle": "warning",
    "vue/eqeqeq": "warning",
    "vue/key-spacing": "warning",
    "vue/match-component-file-name": "warning",
    "vue/object-curly-spacing": "warning",
    "vue/block-spacing": "warning",
    "vue/array-bracket-spacing": "warning",
    "vue/no-multi-spaces": "warning",
    "vue/no-spaces-around-equal-signs-in-attribute": "warning",
    "vue/no-template-shadow": "warning",
    "vue/require-prop-types": "error",
    "vue/no-v-html": "error",
    "vue/this-in-template": "error",
    "vue/arrow-spacing": "warning",
    "vue/space-unary-ops": "warning",
    "vue/html-quotes": "warning",
    "vue/html-self-closing": "warning",
    "vue/no-confusing-v-for-v-if": "error"
  }
}