{
  "root": true,
  "env": {
    "node": true
  },
  "globals": {
    "_": false,
    "api": "readonly"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}